.container-principal-politica{
    padding: 5%;
    box-shadow: 0 0.25rem 1.875rem rgb(0 0 0 / 10%);
}
p,h4,h5{
    text-align: justify;
    margin-bottom: 4%;
    margin-top: 2%;
}
p{
    color:rgb(73, 73, 73);
}
h1,h3,h4,h5{
color:#2b2d42;
font-weight: 600;
}
