.container-principal-home{
    height: 100%;
    width: 100%;
}
.componentes-home{
    height: 100%;
    margin: 0 5%;
   
}
.MuiButtonBase-root.MuiFab-root.MuiFab-circular.MuiFab-sizeLarge.MuiFab-primary.css-1suf56w-MuiButtonBase-root-MuiFab-root{
    position: fixed;
    top: 88vh;
    right: 4vh;
    background-color: #25D366;
}