.container-principal-informacion-taller1 {
  box-shadow: 0 0.25rem 1.875rem rgb(0 0 0 / 10%);
  height: 100%;
  margin: 0 5%;
  border-radius: 0.5rem;
  display: inline-flex;

  width: 90%;
}
.h5-taller,.h6-taller,.h2-taller{
  text-align: center;
}
.logo-taller1 {
  box-shadow: 0 0.25rem 1.875rem rgb(0 0 0 / 10%);
  border-radius: 0.5rem;
  width: 15%;
  align-self: center;
  height: 90%;
}
.logo-taller1 img {
  margin: 25% 5%;
}
.nombre-taller1,
.logo-taller1 {
  margin: 0 5%;
}
.nombre-taller1,
.direccion-taller1,
.contacto-taller1 {
  border-left: 1px solid gainsboro;
  margin: 3% 0;
  width: 25%;
  align-self: center;
}
.direccion-taller1 h5 {
  margin: 15% 0;
}
.contacto-taller1 button {
  margin-top: 3%;
  border: none;
  background-color: #E63946;
  border-radius: 6%;
  font-size: 14px;
  height: 61px;
  width: 50%;
  text-align: center;
  letter-spacing: 2px;

  font-weight: 600;
}
.contacto-taller1 img {
  margin-right: 5%;
}
.contacto-taller1 h6 {
  font-size: 20px;
  font-weight: bold;
}
.contacto-taller1{
  align-self: center;
}
@media (max-width: 415px) {
}
@media (max-width:300px){
  .container-principal-informacion-taller1{
    display: block;
     height: 100%;
     padding: 5%;
  }
  .logo-taller1{
    width: 60%;
    margin: 0 20%;
   
  }
  .nombre-taller1,.direccion-taller1,
  .contacto-taller1{
width: 100%;
border-left: 0;
border-top: 1px solid gainsboro; 
margin: 6% 0;
  }
  .nombre-taller1 h2 , .nombre-taller1 h5{
margin: 5% 0;
  }
  .contacto-taller1 h6{
margin:5%;
  }
  .contacto-taller1 button{
    height: 48px;
    width: 65%;
  }
}

@media (min-width:360px) and (max-width:414px){
  .container-principal-informacion-taller1{
    display: block;
     height: 100%;
     padding: 5%;
  }
  .logo-taller1{
    width: 60%;
    margin: 0 20%;
   
  }
  .nombre-taller1,.direccion-taller1,
  .contacto-taller1{
width: 100%;
border-left: 0;
border-top: 1px solid gainsboro; 
margin: 6% 0;
  }
  .nombre-taller1 h2 , .nombre-taller1 h5{
margin: 5% 0;
  }
  .contacto-taller1 h6{
margin:5%;
  }
  .contacto-taller1 button{
    height: 48px;
  }
}
@media (min-width: 768px) and (max-width: 912px) {
  .container-principal-informacion-taller1{
    width: 95%;
    margin: 0 2%;
    height: 100%;
  }
  .nombre-taller1, .logo-taller1{
    margin: 3%;
  }
  .logo-taller1{
    height: 50%;
    width: 20%;
  }
  .nombre-taller1 h5{
    font-size: 1.1rem;
  }
  .nombre-taller1 h2{
    font-size: 1.6rem;
    margin-top: 11%;
  }
  .direccion-taller1 h5{
margin: 30% 0;
  }
  .contacto-taller1 button{
    width: 84%;
    font-size: 13px;
    height: 35%;
    margin: 0 2%;
  }
  .contacto-taller1 h6{
    margin: 8% 0;
  }
}
