.container-principal-footer{
    height: 35vh;
  
    color:white
    
}
footer{
   
}
.footer-primario{
    background-color: #2B2D42;
    height: 65%;
    
}
.footer-secundario{
    background-color:#2B2D42;
    height: 35%;
    font-weight: bold;
}
.list-footer-primario{
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
   
}
.list-footer-primario-li{
display: inline-block;
margin-top: 10px;
}
.list-footer-primario-li > a{
    letter-spacing: 12px;
    font-size: 23px;
    opacity: 0.7;
   
    font-weight: bold;
} 
.separador-footer{
    margin: 0 30%;
    
}

.list-footer >li{
display: inline-block;


margin: 0 50px;
margin-top: 20px;
}
.list-footer >li :hover{
  cursor: pointer;
    border-bottom: 3px solid rgb(32, 163, 158);
    
  
    }
.list-footer{
    text-align: center;
   margin-bottom: 0;
    
}
.list-footer :first-child{
   
    border-left:none
    }
.list-footer-2{
    display: inline-block;
text-align: center;
width: 100%;
margin:0;
    }
.list-footer-2-li a{
    text-decoration: none;
    font-size: 15px;
    
    color: rgb(255, 255, 255);
     opacity: 0.8;
    font-weight: 900;
}
.list-footer-2-li{
    display: inline-block;
    text-align: center;
    margin-top: 0.5%;
}
.redes-sociales{
    margin: 0 41%;
    margin-top: 1%;
}
.icon-face,.icon-insta{
    height: 50px;
    margin-right: 19%;
}

.icon-what{
    height: 50px;
}
@media(min-width:1600px){
.redes-sociales{
    margin: 0 42%;
    margin-top: 1.5%;
}
.list-footer-2-li{
    margin-top: 1%;
}
.list-footer-primario-li > a{
    font-size: 30px;
}

}
