.logo-portada{
    position: absolute;
    top: 700px;
    left: 79%;
    opacity: 0.4;
}
@media (min-width:1600px) {
    .logo-portada{
       height: 170px;
       width: 300px;
        top: 970px;
        left: 83%;
        
    }
}
@media (min-width:768px){
    .logo-portada{ 
        left: 69%;
        top: 453px ;
        height: 80px;
        width: 140px;
        opacity: 0.5;
    }
}