.container-principal-taller{
    height: 100%;
}
.mapa-and-catalogo{
    display: flex;
    margin: 10% 0;
}
@media (min-width:280px) and (max-width:540px){
    .mapa-and-catalogo{
        display: block;
        width: 100%;
    }
}