@media (min-width: 700px) and (orientation: landscape) { 
   /* —- Aquí van todos los estilos CSS*/ 
    .container-navbar{
        background-color: green;
    }
    .Scroll{
        width: 50%;
    }
    #navbarScroll{
        justify-content: flex-end;
        
        
    }
    #navbarScroll a{
        color: white;
       
        margin-right: 5%;
        width: max-content;
   
    }
    .navbar-brand img {
    padding-left: 30%;
    
    
    }

    #navbarScroll ::before {
        margin: -25px; /*Separar los íconos del texto*/
    }

  }
  
  @media (min-width: 1600px) {
    .Scroll{
        width: 36%;
    }
    #navbarScroll a{
       
       
        margin-right: 10%;
        
   
    }
  }
 /* @media only screen and (min-device-width: 2048px){
    /* Aquí van todos los estilos CSS 
    .container-navbar{
        background-color: green;
    }
    #navbarScroll{
        justify-content: flex-end;
        
        
    }
    #navbarScroll a{
        color: white;
       
        margin-right: 5%;
        width: max-content;
    
    }
    .navbar-brand img {
    padding-left: 30%;
    }
  }*/
