.container-carousel{
 
  height: 80vh; 
  margin: 16% 0% 0 0%; 
}
.container-cartas{
   margin: 0 10%;
   padding:10% 0;
   text-align: center;
   box-shadow:  2px 2px 10px 1px rgba(0, 0, 0, 0.2);
   background-color:  #FFFFFF;
   
   color: black;
  
   
}
.separador{
  margin: 7% 10%;
}

.alice-carousel__wrapper{
  background-color:  #60AFFF;
  padding: 5% 0;
  height: 100%;
  
}
.carousel-wr1apper h2{
text-align: center;
letter-spacing: 4px;
margin-bottom: 2%;
font-weight: 600;
color: #2B2D42;
font-size: 36px;
}