.principal-card{
    margin: 0 0;
    padding-top: 2%;
    display: 	flex;
}
.card-1{
    width: 25%;
    margin-top: 5%;
    margin-right: 15%;
    box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: justify;
    background-color: gainsboro;
}
.card-1  h5{
    text-align: center;
    margin-top: 2%;
}
.card-1 img{
    margin: 0 44%;
    margin-top: 5%;
}
.card-body{
    width: 100%;
    padding: 0 6% 6% 6%;
    
}
.card-1 p{
    text-align: center;
}
.principal-card :last-child{
    margin-right: 0;
}
.titulo-bienvenida-home{
    text-align: center;
font-size: 48px;
letter-spacing: 10px;
padding-top: 3%;
color: #2B2D42;
font-weight: bold;
}
.card-title{
    color:#2B2D42;
    font-weight: bold;
}
.subtitulo-bienvenida-home{
    text-align: center;
    padding-top:1%;
    letter-spacing: 3px;
color: #2B2D42;
font-weight: bold;
padding-right: 5%;
}
.card-text{
    color: gray;
    font-weight: 600;
}
@media(min-width:540px)and (max-width:968px) {
    .titulo-bienvenida-home{
        font-size: 40px;
        letter-spacing: 5px;
        
    }  
    .card-1{
        margin-right: 7%;
        width: 30%;
    }
}
@media(max-width:415px) {
.componentes-home{
margin: 0 3%;
}

.titulo-bienvenida-home{
font-size: 36px;
}
.card-1{
    margin-right: 0;
    width: 60%;
    margin: 0 20%;
    margin-top: 10%;
}
.principal-card{
    flex-direction: column;
}

}